extends layout

block content
  .w3-container
        h3 CLAV: Classificação e Avaliação da Informação Pública
        h9 Esta é a página principal. Aqui poderá consultar toda a lista de entidades guardadas no sistema.
  div(style='margin:25px; padding:5px; border: 1px solid black; font-size: 16px')
    dl
        dt
            b Nível:
        dd= classe.nivel
        dt
            b Título:
        dd= classe.titulo
        dt
            b Código:
        dd= classe.codigo
        dt
            b Descrição:
        dd= classe.descricao
        dt
            b Status:
        dd= classe.status
  .w3-container
    .w3-card-4
      if bool == 0
        header.w3-container.w3-teal.w3-margin-top
            h4 Descendentes
        table.w3-table-all
            tr
            th Código
            th Título
            each c in classe.filhos
                tr
                    td
                        a(href="/classes/c"+c.codigo)= c.codigo
                    td= c.titulo
      else
        header.w3-container.w3-teal.w3-margin-top
            h4 Termos Índice
        h5.w3-margin-left
            ul.w3-ul.w3-hoverable
            each ti in termosInd
                li
                    a(href="/termosIndice")= ti.termo

        

  footer.w3-container.w3-teal.w3-margin-top 
    a(href="/") Voltar à página Inicial 